#add-happening {
  position: fixed;
  bottom: 10px;
  left: 2.5%;
  width: 95%;
}

#map {
  min-height: 100vh;
}

.page--landing .container-fluid {
  padding: 0;
}

body, html {
  margin: 0;
  height: 100%;
}
