{% extends 'base.html' %}

{% block body_classes %} page--landing {% endblock %}

{% block content %}

    <div class="search hidden">
        <input id="searchTextField" class="form-control" type="text" size="50">
    </div>

    <div id="map"></div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add Happening</h4>
      </div>

        <form action="/create/" method="post" enctype="multipart/form-data"/>{% csrf_token %}
          <div class="modal-body">
              <div class="form-group">
              <input type="text" autocomplete="off" class="form-control" placeholder="Title" name="name" id="happening_name">
              <input type="hidden" class="form-control" name="lat" id="lat-field">
              <input type="hidden" class="form-control" name="lng" id="lng-field"></div>

              <div class="form-group">
                  {{ form.category }}
              </div>

              <div class="form-group">
                  <input id="slider" class="mdl-slider mdl-js-slider" type="range"
                         min="1" max="60" value="15" tabindex="0" name="duration">

                  <span id="duration-value" class="small"></span>
              </div>

              <div class="form-group">
              <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-primary" onclick="$(this).parent().find('input[type=file]').click();">Add a picture...</span>
                <input name="picture" id="take_picture" onchange="$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\|/]/).pop());" style="display: none;" type="file" accept="image/*;capture=camera">
              </span>
              <span class="form-control"></span>
              </div></div>
              <img src="about:blank" alt="" id="show_picture" style="width: 100%; min-height: 1px; display: none;">

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="submit" disabled="disabled" id="add_happening_btn" class="btn btn-primary">Add</button>
          </div>
        </form>

    </div>
  </div>
</div>

<button id="add-happening" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" data-toggle="modal" data-target="#myModal">
  <i class="material-icons">add</i>
</button>
{% endblock content %}

{% block scripts %}
    <script>
        var happenings = {{ happenings|safe }};
        initHappening();

    </script>
{% endblock %}
